.btn {
  color: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.back {
  color: var(--main-color);
  font-weight: 400;
  text-align: center;
  transition: all 0.3s;
  background: none;
  border: none;
  border-radius: 2px;
  padding-bottom: 4px;
  transition: transform 0.4s linear;
}
.back:hover {
  color: #1447e6;
  transform: translateX(-4px);
}
.primary {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}
.primary:hover {
  background-color: #1447e6;
}
